
$font-family-body: "Menlo", "SourceHanSansCN", "Meslo LG", monospace;
$font-family-mono: "Menlo", "SourceHanSansCN", "Meslo LG", monospace;
$font-size: 14px;
$line-height: 1.725;
$page-width: 48rem;

$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;

$colors: dark;
